@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lora:wght@400;600&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme {
    --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
    --font-serif: 'Lora', ui-serif, Georgia, serif;

    --color-dark-200: #1E3A8A;
    --color-light-blue-100: #e0ecff1a; /* softened from #c1d3f81a */
    --color-light-blue-200: #c2ddff4d; /* softened from #a7bff14d */

    --color-badge-green: #d5faf1;
    --color-badge-red: #f9e3e2;
    --color-badge-yellow: #fceed8;

    --color-badge-green-text: #254d4a;
    --color-badge-red-text: #752522;
    --color-badge-yellow-text: #73321b;
}


html,
body {
    @apply bg-white font-sans;
}

main {
    @apply min-h-screen pt-10;
}
h1 {
    @apply max-sm:text-[3rem] text-6xl  text-gradient leading-tight xl:tracking-[-2px] font-serif;
}

h2 {
    @apply max-sm:text-xl text-3xl font-serif text-dark-200;
}

label {
    @apply text-dark-200 text-xl;
}
input {
    @apply w-full p-4 inset-shadow  rounded-2xl focus:outline-none bg-white;
}

textarea {
    @apply w-full p-4 inset-shadow rounded-2xl focus:outline-none bg-white;
}

form {
    @apply flex flex-col items-start gap-8 w-full;
}

@layer components {
    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-[#1E3A8A] to-[#388ffa];
    }

    .gradient-border {
        @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200 p-4 rounded-2xl;
    }


    .resume-nav {
        @apply flex flex-row justify-between items-center py-2 px-[15%];
    }
    .resume-summary {
        @apply flex flex-row items-center justify-center p-4 gap-4;
        .category {
            @apply flex flex-row gap-2 items-center bg-gray-50 rounded-2xl p-4 w-full justify-between;
        }
    }

    .all-button {
        @apply upload-gradient  text-white rounded-lg px-4 py-2 cursor-pointer w-fit;
    }

    .back-button {
        @apply flex flex-row items-center gap-2 text-white upload-gradient rounded-lg p-2 shadow-sm;
    }

    .auth-button {
        @apply upload-gradient rounded-full py-4 px-8 cursor-pointer w-[600px] max-md:w-full text-3xl font-semibold text-white;
    }

    .main-section {
        @apply flex flex-col items-center gap-8 pt-12 max-sm:mx-2 mx-10 pb-5;
    }

    .page-heading {
        @apply flex flex-col items-center gap-8 max-w-4xl text-center max-sm:gap-4;
    }

    .resumes-section {
        @apply flex flex-row flex-wrap max-lg:flex-col gap-6 items-center w-full max-w-[1850px] justify-center;
    }

    .resume-card {
        @apply flex flex-col gap-8 h-[800px] lg:w-[420px] xl:w-[490px]
        bg-white text-dark-200 rounded-2xl p-4
        transition-all duration-300 ease-in-out
        hover:bg-[#b5d5fd]
        hover:shadow-[0_10px_30px_rgba(96,165,250,0.5)] hover:scale-[1.02];
    }

    .resume-card-header {
        @apply flex flex-row gap-2 justify-between min-h-[110px] max-sm:flex-col items-center max-md:justify-center max-md:items-center;
    }

    .feedback-section {
        @apply flex flex-col gap-8 w-1/2 px-8 max-lg:w-full py-6;
    }

    .navbar {
        @apply mx-[10%] flex flex-row justify-between;
    }

    .score-badge {
        @apply flex flex-row items-center justify-center py-1 px-2 gap-4 rounded-[96px];
    }

    .form-div {
        @apply flex flex-col gap-2 w-full items-start ;
    }

    .uploader-drag-area {
        @apply relative p-8 text-center transition-all duration-700 cursor-pointer bg-white rounded-2xl min-h-[208px];
    }
    .uploader-selected-file {
        @apply flex items-center justify-between p-3 bg-gray-50 rounded-2xl;
    }
}

@utility bg-gradient {
    background: linear-gradient(to bottom, #1E3A8A 0%, #3B82F6 50%, #60A5FA 100%);
}

@utility text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#1E3A8A] to-[#388ffa];
}

@utility gradient-hover {
    @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200;
}

@utility upload-gradient {
    background: linear-gradient(to bottom, #3B82F6, #1E3A8A);
}

@utility upload-gradient-hover {
    background: linear-gradient(to bottom, #60A5FA, #3B82F6);
}

@utility inset-shadow {
    box-shadow: inset 0 0 12px 0 rgba(59, 130, 246, 0.2);
    backdrop-filter: blur(10px);
}

